{{#each surveys as |survey|}}
<section class="row" style="margin: 0">
  <div class="show-question-div jumbotron" style="background-color: rgba(119, 155, 208, 0.7); margin: 5%" style="display: inline-block">
    <div>
      <h3 style="text-align: center; font-weight: bold">Survey Question:</h3>
    </div>
    <div class="question-goes-here jumbotron">
      <h2 data-id="{{survey._id}}">{{survey.question}}</h2>
    </div>
    <div class="row buttons-container" style="text-align: center">
      <div class="col button-true-div">
        <button data-id="{{survey._id}}" id="true-button" class="btn btn-block btn-success" type="submit" value="true">
          TRUE
        </button>
      </div>
      <div class="col">
        <button data-id="{{survey._id}}" id="false-button" class="btn btn-block btn-danger" type="submit" value="false">
          FALSE
        </button>
      </div>
    </div>
    <div class="survey-responses">
      {{#each survey.responses as |response|}}
      <div class="">
        {{this.0.answer}}
        {{trueCount}}


      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/each}}